<body>
  <header class="navbar">
    <section>
      <a href="#/" class="navbar-brand">HS-BAND Utility(for ES1)</a>
      <a href="../all/dist/#/" class="btn btn-link">Recorder</a>
    </section>
  </header>
  <main class="container">
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-2 col-sm-12">
          <label class="form-label"
            >Device(<span>{{wecty.Text(c.FirmwareRevision)}}</span>)</label
          >
        </div>
        <div class="col-10 col-sm-12">
          <div class="input-group">
            <button
              type="button"
              class="btn input-group-btn"
              @click="{{c.OnConnect}}"
            >
              Connect
            </button>
            <button
              type="button"
              class="btn input-group-btn disabled"
              @click="{{c.OnDisconnect}}"
            >
              Disconnect
            </button>
          </div>
        </div>
      </div>
    </form>
    <form class="form-horizontal" @submit="{{c.OnSetLED}}">
      <div class="form-group">
        <div class="col-2 col-sm-12">
          <label for="color" class="form-label">Set LED Color</label>
        </div>
        <div class="col-10 col-sm-12">
          <div class="input-group">
            <input
              type="color"
              name="color"
              class="form-input"
              style="max-width: 400px;"
            />
            <button class="btn input-group-btn disabled">
              SEND
            </button>
          </div>
        </div>
      </div>
    </form>
    <form class="form-horizontal" @submit="{{c.OnSetCoreTemp}}">
      <div class="form-group">
        <div class="col-2 col-sm-12">
          <label for="color" class="form-label">Set Core Temp</label>
        </div>
        <div class="col-10 col-sm-12">
          <div class="input-group">
            <input
              type="number"
              name="coreTemp"
              value="37.0"
              step="0.1"
              class="form-input"
              style="max-width: 400px;"
            />
            <button class="btn input-group-btn disabled">
              SEND
            </button>
          </div>
        </div>
      </div>
    </form>
    <form class="form-horizontal" @submit="{{c.OnShutdown}}">
      <div class="form-group">
        <div class="col-2 col-sm-12">
          <label for="enterOTA" class="form-label">Enter Shutdown Mode</label>
        </div>
        <div class="col-10 col-sm-12">
          <div class="input-group">
            <button class="btn input-group-btn disabled">Enter</button>
          </div>
        </div>
      </div>
    </form>
    <form class="form-horizontal" @submit="{{c.OnFactoryReset}}">
      <div class="form-group">
        <div class="col-2 col-sm-12">
          <label for="enterOTA" class="form-label">Factory Reset</label>
        </div>
        <div class="col-10 col-sm-12">
          <div class="input-group">
            <button class="btn input-group-btn disabled">Reset</button>
          </div>
        </div>
      </div>
    </form>
    <form class="form-horizontal" @submit="{{c.OnEnterOTA}}">
      <div class="form-group">
        <div class="col-2 col-sm-12">
          <label for="enterOTA" class="form-label">Enter OTA Mode</label>
        </div>
        <div class="col-10 col-sm-12">
          <div class="input-group">
            <button class="btn input-group-btn disabled">Enter</button>
          </div>
        </div>
      </div>
    </form>
  </main>
</body>
